*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
    
}
.circular{
    left: 50%;
    top: 50%;
    position: fixed;
}
.data{
    padding: .2em;
    border: 1px solid green;
}
.data_country{
    padding: .2em;
    border: 1px solid green;
    text-transform: uppercase;
    color: #212121;
}
.data_home{
    padding: .2em;
    border: 1px solid green;
}
.data_vs{
    padding: .2em;
    border: 1px solid green;
}
.data_away{
    padding: .2em;
    border: 1px solid green;
}
.data_diction{
    padding: .2em;
    border: 1px solid green;
}
.data_result{
    padding: .2em;
    border: 1px solid green;
}
.data_status{
    padding: .2em;
    border: 1px solid green;
}
.results{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fresult{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}
.finder{
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
   margin-bottom: .7em;                    
}
.btn{
    margin-bottom: .7em;
    
}
.date{
    padding: .2em;
    border: 1px solid seagreen;
}
.button{
    padding: .2em;
    justify-content: stretch;
    width: 100%;
    border: 1px solid seagreen;
    background-color: seagreen;
    color: white;
}
.footer{
    left: 0px;
    bottom: 0px;
    position: fixed;
    width: 100%;
   
}
.footcontent{
    height: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    
}
.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    color: seagreen;
    font-size: bold;
   
}

@media screen and (max-width: 300px) {
    .data_country{
        padding: .1em;
        border: .5px solid green;
        text-transform: uppercase;
    }
    .data_home{
        padding: .1em;
        border: .5px solid green;
    }
    .data_vs{
        padding: .1em;
        border: .5px solid green;
    }
    .data_away{
        padding: .1em;
        border: .5px solid green;
    }
    .data_diction{
        padding: .1em;
        border: .5px solid green;
    }
    .data_result{
        padding: .1em;
        border: .5px solid green;
    }
    .data_status{
        padding: .1em;
        border: .5px solid green;
    }
    .results{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fresult{
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }
    .finder{
        margin-bottom: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input{
       margin-bottom: .7em;                    
    }
    .btn{
        margin-bottom: .7em;
        
    }
    .date{
        padding: .2em;
        border: 1px solid seagreen;
    }
   
    
}
